In [1]:
from pyspark.sql import SparkSession

In [3]:
spark=SparkSession.builder.appName('dataframe').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
df_pyspark=spark.read.csv('Tutorial_3_TestData .csv',  header=True, inferSchema=True, nullValue="NULL")

In [9]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Sunny|  52|        10| 30000|
|   May|NULL|         5| 20000|
|   Bob|  35|         4| 40000|
|  Paul|  42|      NULL|  NULL|
|Mahesh|  36|         4| 50000|
+------+----+----------+------+

In [10]:
df_pyspark.filter("Salary<=20000").select(['Name','Age']).show()

+----+----+
|Name| Age|
+----+----+
| May|NULL|
+----+----+

In [11]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+----+----+----------+------+
|Name| Age|Experience|Salary|
+----+----+----------+------+
| May|NULL|         5| 20000|
+----+----+----------+------+

In [13]:
df_pyspark.filter((df_pyspark['Salary']<=50000) | (df_pyspark['Salary']>=20000)).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Sunny|  52|        10| 30000|
|   May|NULL|         5| 20000|
|   Bob|  35|         4| 40000|
|Mahesh|  36|         4| 50000|
+------+----+----------+------+