In [1]:
from pyspark.sql import SparkSession

In [2]:
spark=SparkSession.builder.appName('Agg').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [3]:
spark

In [4]:
df_pyspark=spark.read.csv('/home/ubuntu/pyspark/data/Tutorial_5/DepartmentData .csv',header=True,inferSchema=True)

In [5]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|Salary|
+------+------------+------+
| Sunny|Data Science| 30000|
|   May|         IOT| 20000|
|   Bob|    Big Data| 40000|
|  Paul|    Big Data| 50000|
|Mahesh|Data Science| 50000|
+------+------------+------+

In [6]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- Salary: integer (nullable = true)

In [7]:
## Groupby
df_pyspark.groupBy('Name').sum().show()

[Stage 3:>                                                          (0 + 1) / 1]

+------+-----------+
|  Name|sum(Salary)|
+------+-----------+
|   May|      20000|
| Sunny|      30000|
|   Bob|      40000|
|  Paul|      50000|
|Mahesh|      50000|
+------+-----------+

In [8]:
## Groupby
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(Salary)|
+------------+-----------+
|         IOT|      20000|
|    Big Data|      90000|
|Data Science|      80000|
+------------+-----------+

In [9]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(Salary)|
+------------+-----------+
|         IOT|    20000.0|
|    Big Data|    45000.0|
|Data Science|    40000.0|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    1|
|    Big Data|    2|
|Data Science|    2|
+------------+-----+

In [11]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     190000|
+-----------+