In [6]:
import pyspark

In [4]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
     |████████████████████████████████| 12.4 MB 14.8 MB/s eta 0:00:01
Collecting tzdata>=2022.1
  Downloading tzdata-2024.2-py2.py3-none-any.whl (346 kB)
     |████████████████████████████████| 346 kB 25.1 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in ./.venv/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: tzdata, pandas
Successfully installed pandas-2.0.3 tzdata-2024.2

In [7]:
import pandas as pd
pd.read_csv('TestData.csv')

    Name  Age
0  Sunny   52
1    May   85
2    Bob   35

In [8]:
from pyspark.sql import SparkSession

In [10]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [11]:
spark

In [12]:
df_pyspark=spark.read.csv('TestData.csv')

In [13]:
df_pyspark

DataFrame[_c0: string, _c1: string]

In [14]:
df_pyspark.show()

+-----+---+
|  _c0|_c1|
+-----+---+
| Name|Age|
|Sunny| 52|
|  May| 85|
|  Bob| 35|
+-----+---+

In [16]:
spark.read.option('header','true').csv('TestData.csv')

DataFrame[Name: string, Age: string]

In [17]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)