In [10]:
import pyspark

In [11]:
!pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (2.0.3)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/ubuntu/pyspark/.env/lib/python3.8/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [12]:
import pandas as pd
pd.read_csv('/home/ubuntu/pyspark/data/TestData.csv')

    Name  Age  Experience
0  Sunny   52          10
1    May   85           5
2    Bob   35           4

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [15]:
spark

In [17]:
df_pyspark=spark.read.csv('/home/ubuntu/pyspark/data/TestData.csv')

In [18]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [19]:
df_pyspark.show()

+-----+---+----------+
|  _c0|_c1|       _c2|
+-----+---+----------+
| Name|Age|Experience|
|Sunny| 52|        10|
|  May| 85|         5|
|  Bob| 35|         4|
+-----+---+----------+

In [21]:
spark.read.option('header','true').csv('/home/ubuntu/pyspark/data/TestData.csv')

DataFrame[Name: string, Age: string, Experience: string]

In [22]:
df_pyspark.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)