In [85]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practiise').getOrCreate()

In [86]:
df_pyspark=spark.read.csv('Tutorial_3_TestData .csv', header=True, inferSchema=True, nullValue="NULL")

In [87]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Sunny|  52|        10| 30000|
|   May|NULL|         5| 20000|
|   Bob|  35|         4| 40000|
|  Paul|  42|      NULL|  NULL|
|Mahesh|  36|         4| 50000|
+------+----+----------+------+

In [88]:
df_pyspark.drop('Name').show()

+----+----------+------+
| Age|Experience|Salary|
+----+----------+------+
|  52|        10| 30000|
|NULL|         5| 20000|
|  35|         4| 40000|
|  42|      NULL|  NULL|
|  36|         4| 50000|
+----+----------+------+

In [89]:
df_pyspark

DataFrame[Name: string, Age: int, Experience: int, Salary: int]

In [90]:
df_pyspark.na.drop().show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Sunny| 52|        10| 30000|
|   Bob| 35|         4| 40000|
|Mahesh| 36|         4| 50000|
+------+---+----------+------+

In [91]:
df_pyspark.na.drop(how='any',thresh=1).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Sunny|  52|        10| 30000|
|   May|NULL|         5| 20000|
|   Bob|  35|         4| 40000|
|  Paul|  42|      NULL|  NULL|
|Mahesh|  36|         4| 50000|
+------+----+----------+------+

In [92]:
df_pyspark.na.drop(how='any',subset=['Age']).show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
| Sunny| 52|        10| 30000|
|   Bob| 35|         4| 40000|
|  Paul| 42|      NULL|  NULL|
|Mahesh| 36|         4| 50000|
+------+---+----------+------+

In [93]:
df_pyspark.na.fill('Missing Values',['Experience','Age']).show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
| Sunny|  52|        10| 30000|
|   May|NULL|         5| 20000|
|   Bob|  35|         4| 40000|
|  Paul|  42|      NULL|  NULL|
|Mahesh|  36|         4| 50000|
+------+----+----------+------+

In [99]:
from pyspark.ml.feature import Imputer
imputer = Imputer(
    inputCols=['Age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['Age','Experience','Salary']]
    ).setStrategy("mean")

In [100]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+------+----+----------+------+-----------+------------------+--------------+
|  Name| Age|Experience|Salary|Age_imputed|Experience_imputed|Salary_imputed|
+------+----+----------+------+-----------+------------------+--------------+
| Sunny|  52|        10| 30000|         52|                10|         30000|
|   May|NULL|         5| 20000|         41|                 5|         20000|
|   Bob|  35|         4| 40000|         35|                 4|         40000|
|  Paul|  42|      NULL|  NULL|         42|                 5|         35000|
|Mahesh|  36|         4| 50000|         36|                 4|         50000|
+------+----+----------+------+-----------+------------------+--------------+