In [18]:
from pyspark.sql import SparkSession

In [19]:
spark=SparkSession.builder.appName('Dataframe').getOrCreate()

In [20]:
spark

In [21]:
## read the dataset
df_pyspark=spark.read.option('header','true').csv('/home/ubuntu/pyspark/data/Tutorial_2/ExperienceData.csv')

In [22]:
## Check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)

In [23]:
df_pyspark=spark.read.csv('/home/ubuntu/pyspark/data/Tutorial_2/ExperienceData.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----+---+----------+
| Name|Age|Experience|
+-----+---+----------+
|Sunny| 52|        10|
|  May| 85|         5|
|  Bob| 35|         4|
+-----+---+----------+

In [24]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)

In [25]:
df_pyspark.head(3)

[Row(Name='Sunny', Age=52, Experience=10),
 Row(Name='May', Age=85, Experience=5),
 Row(Name='Bob', Age=35, Experience=4)]

In [26]:
df_pyspark.select(['Name','Experience']).show()

+-----+----------+
| Name|Experience|
+-----+----------+
|Sunny|        10|
|  May|         5|
|  Bob|         4|
+-----+----------+

In [27]:
df_pyspark['Name']

Column<'Name'>

In [28]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'int'), ('Experience', 'int')]

In [29]:
df_pyspark.describe().show()

[Stage 11:>                                                         (0 + 1) / 1]

+-------+-----+------------------+-----------------+
|summary| Name|               Age|       Experience|
+-------+-----+------------------+-----------------+
|  count|    3|                 3|                3|
|   mean| NULL|57.333333333333336|6.333333333333333|
| stddev| NULL|25.423086620891127|3.214550253664318|
|    min|  Bob|                35|                4|
|    max|Sunny|                85|               10|
+-------+-----+------------------+-----------------+

In [30]:
## adding columns
df_pyspark=df_pyspark.withColumn('Experience After 2 years',df_pyspark['Experience']+2)

In [31]:
df_pyspark.show()

+-----+---+----------+------------------------+
| Name|Age|Experience|Experience After 2 years|
+-----+---+----------+------------------------+
|Sunny| 52|        10|                      12|
|  May| 85|         5|                       7|
|  Bob| 35|         4|                       6|
+-----+---+----------+------------------------+

In [32]:
## Drop the columns
df_pyspark.drop('Experience')

DataFrame[Name: string, Age: int, Experience After 2 years: int]

In [33]:
df_pyspark.withColumnRenamed('Name', 'New Name').show()

+--------+---+----------+------------------------+
|New Name|Age|Experience|Experience After 2 years|
+--------+---+----------+------------------------+
|   Sunny| 52|        10|                      12|
|     May| 85|         5|                       7|
|     Bob| 35|         4|                       6|
+--------+---+----------+------------------------+